*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

    /* HEADER */
.menu{
    margin: 10px;
}

.row-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-menu img{
    height: 100%;
    vertical-align: middle;
}

.container-menu span{
    margin-left: 15px;
    font-size: 10px;
}

.container-menu button{
    padding: 4px 7px;
    background-color: rgb(0, 81, 255);
    color: white;
    border: none;
    font-size: 10px;
    margin-left: 8px;
}
    /* FINE HEADER */

    /* INIZIO MAIN */

    /* INIZIO SEZIONE 1 */
.section1{
    background-color: rgb(141, 200, 240)
}

.section1-full-container{
    max-width: 1060px;
    margin: auto;
}

.row-section1{
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    margin: 20px auto;
}

.col-section1{
    width: 100%;
}

.section1-container{
    position: relative;
}

.col-section1 h2{
    font-size: 60px;
    margin: 50px 0;
}

.section1-container p{
    width: 32%;
    font-size: 10px;
}

.section1-container button{
    font-size: 10px;
    margin: 20px 0;
    padding: 7px 12px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: white;
}

.section1-container i{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 40px;
}

.section1-container img{
    height: 323px;
    position: absolute;
    left: 240px;
    bottom: -50px;
}
    /* FINE SEZIONE 1 */

    /* INIZIO SEZIONE 2 */
.section2{
    max-width: 650px;
    margin: 100px auto;
    margin-bottom: 30px;
}

.section2 h3{
    font-size: 32px;
    margin-bottom: 50px;
}

.inpunt{
    margin-bottom: 30px;
}

.row-section2{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.col-section2{
    width: calc(100% / 3 - 20px);
    margin: 10px auto;
}

.col-section2 h4{
    border: 0.2px solid grey;
    padding: 2px 60px;
}

.section2-container ul{
    height: 100vh;
    font-size: 13px;
    list-style-type: none;
    padding: 30px 10px 800px 20px;
    border: 0.2px solid grey;
}

.section2-container li{
    margin-bottom: 17px;
}

li h5{
    font-size: 16px;
}

li h6{
    font-size: 13px;
}

.section2-container button{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 7px 12px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: white;
}

ul hr{
    margin: 30px 150px 30px 0;
    border: 0.2px solid grey;
}

.chiaro{
    color: grey;
    margin-bottom: 20px;
}
    /* FINE SEZIONE 2 */

    /* INIZO SEZIONE 3 */
.section3{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.row-section3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 0.2px solid grey;
}

.col-section3{
    width: 70%;
}

.col1-section3{
    width: 30%;
}

.section3 h4{
    padding: 10px;
    font-size: 10px;
    text-align: center;
    border: 0.2px solid grey;
}

.section3-container{
    padding: 20px;
}

.section3-container p, .section3-container h4, .section3-container button{
    font-size: 10px;
}

.section3-container > p{
    margin-top: 20px;
}

.section3-container button{
    padding: 7px 12px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: white;
}

    /* FINE SEZIONE 3 */
    /* FINE MAIN */
