*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

    /* HEADER */
header{
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
}
.menu{
    max-width: 100vw;
    margin: 10px auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: 15px 0 0 15px;
    z-index: 100;
}

.dropdown-content a, .dropdown-content1 a{
    font-size: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
}

.dropdown-content a:hover, .dropdown-content1 a:hover{
    background-color: rosybrown;
    font-size: 15px;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content1{
    display: block;
    border-radius: 10px;
}

.dropdown:hover .grey1 {
    background-color: rgb(228, 226, 226);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 0;
}

.dropdown-content1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: 15px -10px 0 0;
    z-index: 100;
}

.row-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

.container-menu img{
    margin-left: 20px;
    height: 100%;
    vertical-align: middle;
}

.container-menu span{
    margin-left: 15px;
    font-size: 10px;
}

.container-menu button{
    padding: 4px 7px;
    background-color: rgb(0, 81, 255);
    color: white;
    border: none;
    font-size: 10px;
    margin-left: 8px;
    margin-right: 20px;
}
    /* FINE HEADER */

    /* INIZIO MAIN */

    /* INIZIO SEZIONE 1 */
#section1{
    background-color: rgb(141, 200, 240)
}

.section1-full-container{
    max-width: 1060px;
    margin: 0 auto;
}

.row-section1{
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    margin: 0 auto;
}

.col-section1{
    width: 100%;
}

.section1-container{
    position: relative;
}

.col-section1 h2{
    font-size: 60px;
    margin: 50px 0;
}

.section1-container p{
    width: 32%;
    font-size: 10px;
}

.section1-container button{
    font-size: 10px;
    margin: 20px 0;
    padding: 7px 12px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: white;
}

.section1-container i{
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 40px;
}

.section1-container img{
    height: 323px;
    position: absolute;
    left: 240px;
    bottom: -50px;
}
    /* FINE SEZIONE 1 */

    /* INIZIO SEZIONE 2 */
#section2{
    max-width: 650px;
    margin: 100px auto;
    margin-bottom: 30px;
}

input{
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    margin-left: 10px;
}

input:checked {
    border: 4px solid blue;
}

#section2 h3{
    font-size: 32px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.inpunt{
    margin-bottom: 30px;
}

.row-section2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-section2{
    width: calc(100% / 3 - 20px);
    margin: 10px auto;
}

.col-section2 h4{
    border: 0.2px solid grey;
    padding: 2px 60px;
    margin-top: 20px;
    font-size: 15px;
}

.section2-container ul{
    min-height: 800px;
    font-size: 12px;
    list-style-type: none;
    padding: 30px 10px 0 20px;
    border: 0.2px solid grey;
    border-top: none;
}

.section2-container li{
    margin-bottom: 17px;
}

li h5{
    font-size: 16px;
}

li h6{
    font-size: 13px;
}

.section2-container button{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 7px 12px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: white;
}

ul hr{
    margin: 30px 150px 30px 0;
    border: 0.2px solid grey;
}

.chiaro{
    color: grey;
    margin-bottom: 20px;
}
    /* FINE SEZIONE 2 */

    /* INIZO SEZIONE 3 */
#section3{
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.row-section3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 0.2px solid grey;
}

.col-section3{
    width: 70%;
}

.col1-section3{
    width: 30%;
}

#section3 h4{
    padding: 10px;
    font-size: 10px;
    text-align: center;
    border: 0.2px solid grey;
    border-bottom:none ;
}

.section3-container{
    padding: 20px;
}

.section3-container p, .section3-container h4, .section3-container button{
    font-size: 10px;
}

.section3-container > p{
    margin-top: 20px;
}

.section3-container button{
    padding: 7px 12px;
    border: none;
    background-color: rgb(0, 81, 255);
    color: white;
}

    /* FINE SEZIONE 3 */

    /* INIZIO SEZIONE 4 */
#section4{
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.row-section4{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-section4{
    width: 60%;
}

.col1-section4{
    width: 40%;
    margin-left: 10px;
}

.section4-container{
    padding: 20px 20px 0 20px;
    font-size: 11px;
}

.col-section4 img{
    width: 370px;
}

.section4-container p{
    margin: 15px 0;
}

.section4-container h2{
    font-size: 20px;
    margin-top: 40px;
}

.section4-container button{
    background-color: white;
    border: 1px solid black;
    padding: 7px 12px;
}
    /* FINE SEZIONE 4 */
    /* INIZIO SEZIONE 5 */
#section5{
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.row-section5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-section5{
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.section5-container{
    font-size: 10px;
}

.section5-container img{
    width: 200px;
}

.section5-container h3{
    font-size: 15px;
    margin-bottom: 20px;
}

    /* FINE SEZIONE 5 */

    /* INIZIO SEZIONE 6 */
#section6{
    max-width: 630px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#section6 h2{
    font-size: 20px;
    margin-bottom: 60px;
}

#section6 a{
    font-size: 10px;
}
    /* FINE SEZIONE 6 */

    /* INIZIO SEZIONE 7 */
#section7{ 
    max-width: 1270px;
    margin: 0 auto;
}

.row-section7{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-section7{
    width: calc(100% / 3);
}

.row1-section7{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1-section7{
    width: calc(100% / 2);
    height: 200px;
    position: relative;
}

.section7-container img{
    filter: invert(1);
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center{
    padding: 30px;
}

.center img{
    width: 200px;
}

.center hr{
    margin: 50px 275px 30px 0;  
}

.center p{
    font-size: 10px;
    margin-bottom: 40px;
}

.green{
    background-color: rgb(128, 224, 96);
    border: 9px solid rgb(172, 242, 164);
}

.brown{
    background-color: brown;
}

.heavenly{
    background-color: rgb(27, 157, 238);
}

.light-red{
    background-color: rgb(255, 31, 31)
}

.red{
    background-color: rgb(191, 2, 2)
}

.light-heavenly{
    background-color: rgb(130, 207, 255);
}

.blue{
    background-color: rgb(2, 2, 125)
}

.yellow{
    background-color: rgb(225, 225, 3);
}

.grey{
    background-color: rgb(234, 234, 234);
}
    /* FINE SEZIONE 7 */

    /* INIZIO SEZIONE 8 */
#section8{
    background-color: rgb(141, 200, 240);
}

.section8-1{
    max-width: 1270px;
    margin: 0 auto;
}

.row-section8{
    display: flex;
    justify-content: space-around;
    padding: 100px 270px;
    margin-bottom: 100px;
}

.col-section8 h2{
    font-size: 20px;
    color: rgb(56, 2, 2);
}

.col-section8 button{
    border: none;
    padding: 5px 30px;
    margin-top: 5px;
}
    /* FINE SEZIONE 8 */

    /* INIZIO SEZIONE 9 */
#section9{
    max-width: 630px;
    margin: 0 auto;
}

.row-section9{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.col-section9{
    margin: 10px;
}

.section9-container h2{
    margin-bottom: 40px;
}

.margin-top{
    margin-top: 20px;
}

.section9-container details{
    margin-bottom: 20px;
    padding: 10px 0;
}

.section9-container hr{
    border: 0.2px solid black;
}

.section9-container summary{
    font-size: 12px;
}

.arrow{
    margin-left: 120px;
}

.arrow:hover{
    background-color: rgb(141, 200, 240);
    border-radius: 50%;
    padding: 3px 5px;
    color: goldenrod;
}

details > summary {
    margin-bottom: 15px;
    cursor: pointer;
    list-style: none;
}
    /* FINE SEZIONE 9 */
    /* FINE MAIN */

    /* FOOTER */
footer{
    margin: 0 auto;
    background-color: black;
}

#footer{
    max-width: 700px;
    margin: 0 auto; 
    color: white;
}

.row-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-footer{
    width: calc(100% / 5);
}

.container-footer{
    font-size: 8px;
    margin-bottom: 50px;
}

.container-footer h2{
    font-size: 18px;
    margin-bottom: 15px;
}

.container-footer ul{
    list-style-type: none;
}

.container-footer li{
    margin: 10px;
    font-size: 9px;
}

#footer hr{
    margin-right: 600px;
    border: 0.6px solid gray;
    margin-bottom: 40px;
}

#footer summary{
    font-size: 10px;
    color: gray;
}

#footer details{
    padding-bottom: 20px;
}

details p{
    font-size: 10px;
}
    /* FINE FOOTER */
